<!DOCTYPE html>
<html>
  <head>

    <title>All About Me</title>

  </head>
  <body>
  
    <%- partial('navbar', {tab: 'about me', admin: locals.admin}) %>

  	<div class='container'>

		<div class='row'>
			<div class='span10 offset1'>
				<div class='hero-unit'>
					<h2>About Me</h2>
					<p>
						I am an aspiring Minecraft modder, with a strong background in C, Python, and some Java. I also design websites, such as this one, using Node.js and HTML. I have been playing Minecraft since 2011, and just recently started modding.
					</p>
				</div>
			</div>
		</div>

		<div class='row'>
			<div class='span10 offset1'>
				<div class='hero-unit'>
					<h2>Credits</h2>
					<p>
						<br/>
						<p class='head'>Trdv69</p>
						<p>
							Big thanks go to my friend Trdv69. He provided most of the textures and texture ideas in MetalMod, and stopped me from throwing my computer out the window on several occasions where my code <i>just wouldn't work.</i>
						</p>

						<br/>

						<p class='head'>Aaron</p>
						<p>
							Through the development of my mods, Aaron acted as my personal Java guru. Whenever I had a Java question, an unexplainable error, or a method I didn't understand, Aaron helped me through it.
						</p>

						<br/>
						
						<!-- <p class='head'>JannoBuzzBazz (BuzzBazz on minecraftforum.net)</p>
						<p>
							All thanks go to you for giving me the idea to remake the Controller Block mod. After reading <a href='http://www.minecraftforum.net/topic/1828854-we-are-bringing-back-the-controllerblock/#entry22663067' target='_blank'>this inspirational post</a> on minecraftforum.net, I was moved to remake this awesome mod. Not only that, but he helped me with great ideas and suggestions all along the way. Thanks to BuzzBazz for an awesome idea.
						</p> -->

						<br />

						<p class='head'>And Everyone Else (That Means You)</p>
						<p>
							Thanks to all of the great people on minecraftforum.net who helped me with all of my complicated and sometimes impossible problems. Also, thanks to you, the person reading this post, for taking the time to be on my site and (hopefully) download my mods. I couldn't do all of this without the people who download my mods. (like you)
						</p>
					</p>
				</div>
			</div>
		</div>

	</div>
  </body>
</html>