<!DOCTYPE html>
<html>
  <head>

    <title>Controller Block Mod</title>
    
  </head>
  <body>

    <%- partial('navbar', {tab: 'controller block mod', admin: locals.admin}) %>

    <div class='container'>

        <div class='row'>
            <div class='span12'>
                <img src='/img/header.png'></img>
            </div>
        </div>

        <br />

        <div class='row'>
            <div class='span10 offset1'>
                <div align='center' class='well well-large'>
                  <h2>Controller Block Mod</h2>
                  <p class='bolded'> Ever wanted to make a cool drawbridge or door, and pistons just wouldn't cut it? How about animations? For those times when redstone magic can't get the job done, there's the Controller Block.
                  </p>
                </div>
            </div>
        </div>

        <br />
        <br />

        <div class='row'>
          <div class='span6 offset1'>
            <div class="page-header">
              <h1>The Controller Block</h1>
            </div>
            <p class='standard'>
              The Controller Block is the heart of the mod (thus the name). To use the block, you need to use a Linker tool. Then, when all of your blocks are selected, you can make them appear and disappear by right-clicking on the block, or by powering it with redstone.<br />
              <br />
              Coming in future releases: the Controller will have a GUI screen, and will be renamed the Animator. The Animator will allow you to create animation 'frames', and set the amount of time between each being created.
            </p>
          </div>
          <div class='span4'>
            <img src='/img/controller.png'></img>
          </div>
        </div>

        <br />
        <br />
        <br />

        <div class='row'>
          <div class='span3 offset2'>
            <img src='/img/linker.png'></img>
          </div>
          <div class='span6'>
            <div class="page-header">
              <h1>The Linker</h1>
            </div>
            <p class='standard'>
              The Linker is one of the main differences, and improvements, from the main mod. Rather than be limited to one block type, or a certain area, the Linker allows you to take your animations to a new level! To begin linking, right-click on a Controller Block with the Linker. Then right-click on all of the blocks that you want to add to that Controller Block!
              <br />
              <br />
              Coming in the future: the Linker will have two modes; one will be the current mode for selection. In the other, you will be able to right-click on two corners to create a cube. Every block inside the cube will be added to the Controller.
            </p>
          </div>
        </div>

    </div>
    
  </body>
</html>