<!DOCTYPE html>
<html>
  <head>

    <title>Contact Me</title>
  
  </head>
  <body>

    <%- partial('navbar', {tab: 'contact me', admin: locals.admin}) %>

    <div class='container'>
      <div class='row'>

        <div class='span12'>
          <div class="page-header">
            <h1>Contact Me <small>how you can tell me how much you love my mods</small></h1>
          </div>
        </div>

        <div class='span10 offset1'>
          <table class='table'>
            <thead>
              <tr>
                <th colspan='2'>Even though there are a lot of ways to contact me, I seem to be the only computer guy in the world who doesn't use IRC. So, no luck there.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Email: </td>
                <td><a href='mailto:sam6982mc@gmail.com?Subject=Your%20Mods%20Are%20Awesome!' target='_blank'>sam6982mc@gmail.com</a></td>
              </tr>
              <tr>
                <td>Twitter: </td>
                <td><a href='https://twitter.com/NektoCraft' target='_blank'>@NektoCraft</a></td>
              </tr>
              <tr>
                <td>GitHub: </td>
                <td><a href='https://github.com/SamR3' target='_blank'>SamR3</a></td>
              </tr>
              <tr>
                <td>minecraftforum.net</td>
                <td><a href='http://www.minecraftforum.net/user/2032873-sam6982/' target='_blank'>Sam6982</a></td>
              </tr>
              <tr>
                <td>minecraftforge.net</td>
                <td><a href='http://www.minecraftforge.net/forum/index.php?action=profile;u=5908' target='_blank'>Sam6982</a></td>
              </tr>
              <tr>
                <td>computercraft.info</td>
                <td><a href='http://www.computercraft.info/forums2/index.php?/user/13933-sam6982/' target='_blank'>Sam6982</a> (do you see a trend?)</td>
              </tr>
            </tbody>
          </table>

          <br />
          <br />

          <div align='center'>
            <h4> If you try all of these methods, and none of them work: </h4>
            <p>It just wasn't meant to happen. Move on with your life.</p>
          </div>

        </div>

      </div>
    </div>

  </body>
</html>