<!DOCTYPE html>
<html>
  <head>

    <title>Guides</title>
  
  </head>
  <body>

  	<%- partial('navbar', {tab: 'guides', admin: locals.admin}) %>

  	<div class='container'>
  		<div class='row'>
  			<div class="page-header">
  			    <h1>Guides <small>Guides for modding with Forge, MCP, and Eclipse</small></h1>
  			</div>
  		</div>
  		<div class='row'>
  			<div class='span5'>
  				<div class='well well-large' align='center'>
  					<h4>Learn Java!</h4>
  					<p>
  						When I first started into Minecraft modding, I made the mistake of starting without very much Java experience. After hours of doing nothing but banging my head against a wall, I gave in and went through some Java tutorials. The moral of the story: <i>learn Java before modding!!</i> The time that you will not spend banging your head against a wall far outweighs the time that any tutorial will take.
  					</p>
  					<a href='http://thenewboston.org/list.php?cat=31' target='_blank'><button class='btn btn-large span2 offset1'>Tutorial</button></a><br /><br />
  				</div>
  			</div>
  			<div class='span5 offset1'>
  				<div class='well well-large' align='center'>
  					<h4>Setting Up MCP and Forge</h4>
  					<p>
  						A guide on setting up to mod with MCP, Forge, and Eclipse. I recommend modding with this setup, as it will make your life much easier. Thanks to Pahimar, because he made a better guide on this than I ever could. I highly recommend checking out his other video tutorials, but they surpass the scope of these guides.<br/>
  					</p>
  					<a href='http://www.youtube.com/watch?feature=player_embedded&v=KsNr6ifC2aM' target='_blank'><button class='btn btn-large span2 offset1'>Setup</button></a><br /><br />
  				</div>
  			</div>
  		</div>
  		<!-- <div class='row'>
  			<div class='span5'>
  				<div class='well well-large' align='center'>
  					<h4>Your First Block</h4>
  					<p>
  						A guide on setting up your first Block, along with creating a file for textures, and some basic code organization. Definitely do these guides in order, unless you are a .
  					</p>
  				</div>
  			</div>
  		</div> -->
  	</div>

  </body>
</html>